.header__session-container{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: auto 15px auto auto;
}
.header__link{
    margin: auto;
}
.header__login-button, .header__register-button{
    font-size: 16px !important;
    width: 150px !important;
    border: 2px solid white !important;
    border-radius: 20px !important;
    margin: auto 8px !important;
}

.header__login-button{
    background: var(--button-blue) !important;
}
.header__login-button:hover{
    background: var(--button-blue-hover) !important;
    transform: scale(1.03);
}

.header__register-button{
    background: var(--button-green) !important;
}
.header__register-button:hover{
    background: var(--button-green-hover) !important;
    transform: scale(1.03);
}

.session__button-text{
    cursor: pointer;
}
@media screen and (min-width: 280px) and (max-width: 359px){
    .header__login-button, .header__register-button{
        font-size: 14px !important;
        width: 110px !important;
    }
}
@media screen and (min-width: 360px) and (max-width: 499px){
    .header__login-button, .header__register-button{
        height: 40px !important;
        width: 150px !important;
    }
}
@media screen and (max-width: 650px){
    .header__session-container{
        border-top: 4px solid;
        width: 100%;
        margin: 0;
        padding: 10px;
    }
}
@media screen and (min-width: 500px) and (max-width: 650px){
    .header__login-button, .header__register-button{
        width: 210px !important;
    }
}