header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 120px;
    width: 100%;
    background: var(--black);
    border-bottom: 4px solid black;
    margin-bottom: -25px;
    z-index: 100;
    justify-content: space-between;
}

.school__logo-container{
    display: flex;
    height: 100px;
    margin: 10px;
    background: #2C2A2A;
    border-radius: 20px;
    padding-right: 10px;
    cursor: pointer;
}
.school__logo{
    height: 90%;
    width: 80px;
    margin: auto 0 auto 8px;
}
.school__logo-title{
    font-size: 33px;
    color: white;
    margin: auto 8px;
}

@media screen and (max-width: 499px){
    .school__logo-container{
        margin: 10px auto;
    }
}
@media screen and (min-width: 1210px) and (max-width: 1300px){
    .profile__button{
        right: 15px;
    }
}
@media screen and (min-width: 1300px){
    .school__logo-container{
        margin-left: 25px;
        padding-right: 20px;
    }
    .profile__button{
        right: 25px;
    }
}