.header__session-container{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: auto 0 auto auto;
}

.header__login-button, .header__register-button{
    font-size: 14px !important;
    width: 120px !important;
    border: 2px solid white !important;
    border-radius: 20px !important;
    margin: auto 8px !important;
}

.header__login-button{
    background: var(--button-blue) !important;
}
.header__login-button:hover{
    background: var(--button-blue-hover) !important;
    transform: scale(1.03);
}

.header__register-button{
    background: var(--button-green) !important;
}
.header__register-button:hover{
    background: var(--button-green-hover) !important;
    transform: scale(1.03);
}
.session__button-text{
    cursor: pointer;
}

@media screen and (max-width: 499px){
    .header__session-container{
        width: 100%;
        border-top: 4px solid black;
        padding: 10px 0;
    }
    .header__link{
        margin: auto;
    }
    .header__login-button, .header__register-button{
        width: 135px !important;
    }
}

@media screen and (min-width: 800px){
    .header__login-button, .header__register-button{
        width: 150px !important;
    }
}