.header__nav{
    display: none;
    height: 100px;
    width: 650px;
    margin: auto;
    background: #2C2A2A;
    border: 3px solid white;
    border-radius: 20px;
    justify-content: space-evenly;
}

.header__navlink{
    display: flex;
    height: 70px;
    width: 90px;
    margin: 15px 0;
    border-radius: 10px;
    cursor: pointer;
}
.header__navlink:hover{
    background: rgba(251, 251, 251, 0.3);
}

.header__menu-option{
    height: 60px;
    width: 60px;
    margin: auto;
}

.community__logo{
    height: 70px;
    width: 70px;
    margin: 10px 0 0 4px;
}

.glasses{
    height: 110px;
    width: 100px;
    margin: -20px 0 0 0;
}

.fillSvg{
    fill: #89B9BB;
}

.active{
    background: rgba(251, 251, 251, 0.3);
    border-radius: 10px;
    border-bottom: 3px solid #8FC294;
}

.menu__button-container{
    display: flex;
    height: 70px;
    width: 70px;
    order: 1;
    margin: auto 10px auto 0;
    margin-left: auto;
    cursor: pointer; 
    border-radius: 10px;
}
.menu__button-container:hover{
    background:#4D4C4C;
}
.menu__button{
    height: 45px;
    width: 45px;
    margin: auto;
}

@media screen and (min-width: 1120px){
    .menu__button-container, .menu__button{
        display: none;
    }
    .header__nav{
        display: flex;
    }
}
@media screen and (min-width: 1200px){
    .header__nav{
        width: 700px;
    }
    .header__navlink{
        width: 100px;
    }
    .community__logo{
        margin-left: 8px;
    }
}