.school__title-container{
    display: none;
    flex-wrap: wrap;
    min-height: 60px;
    padding: 0 30px;
    margin: auto;
    background: #CBC23F;
    border: 3px solid white;
    border-radius: 20px;
    cursor: pointer;
}
.school__title-container:hover{
    transform: scale(1.03);
}
.school__title{
    font-size: 30px;
    margin: auto;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 1025px){
    .school__title-container{
        display: flex;
    }
}
@media screen and (min-width: 1110px){
    .school__title-container{
        padding: 0 80px;
    }
}
@media screen and (min-width: 1215px){
    .school__title-container{
        padding: 0 100px;
    }
}
@media screen and (min-width: 1245px) and (max-width: 1279px){
    .school__title-container{
        margin-right: -80px;
    }
}
@media screen and (min-width: 1280px){
    .school__title-container{
        margin-right: -110px;
    }
}