.home__menu-option{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 320px;
    width: 200px;
    flex-grow: 0.25;
    margin: 15px 8px 30px 8px;
    background: var(--div-color);
    border: 3px solid black;
    box-shadow: -5px 6px 4px rgba(0, 0, 0, 0.35);
}
.home__menu-option:hover{
    transform: scale(1.05);
}
.home__menu-svg{
    height: 170px;
    width: 170px;
    margin: auto;
}
.home__menu-last{
    margin-bottom: 15px !important;
}
.option__header{
    display: flex;
    height: 50px;
    width: 100%;
    border-bottom: 3px solid black;
}

.option__message-container{
    display: flex;
    height: 50px;
    width: 100%;
    margin-top: auto;
    border-top: 3px solid black;
}
.option-message{
    font-size: 21px;
    margin: auto;
    color: white;
}

.option__info-container{
    display: none;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.35);
}

.option__info-header{
    display: flex;
    height: 15%;
    width: 100%;
    border-bottom: 3px solid;
    background: var(--black);
}
.option__info-title{
    margin: auto;
    color: white;
}

.option__info-body{
    display: flex;
    height: 60%;
    width: 100%;
    padding: 10px;
}
.option__info-p{
    font-size: 17px;
    margin: auto;
    text-align: center;
    color: white;
}

.option__info-button{
    height: 17% !important;
    width: 100% !important;
    margin-top: auto !important;
    border-top: 3px solid black !important;
    border-radius: 0 !important;
    background: var(--div-color) !important;
}
.info__button-icon{
    width: 50px;
}

@media screen and  (max-width: 280px){
    .home__menu-option, .home__menu-last{
        width: 260px !important;
        border: 3px solid black;
        margin: 15px auto;
    }
}
@media screen and (min-width: 281px) and (max-width: 374px){
    .home__menu-option, .home__menu-last{
        width: 300px !important;
        margin: 15px auto;
    }
}
@media screen and (min-width: 360px) and (max-width: 499px){
    .home__menu-option{
        width: 95% !important;
        margin: 0 auto 30px auto;
    }
}
@media screen and (max-width: 600px){
    .home__menu-option{
        height: 290px;
        width: 170px !important;
    }
}
@media screen and (min-width: 600px){
    .home__menu-option{
        margin: 15px;
    }
} 
@media screen and (max-width: 724px){
    .home__menu-option:hover{
        transform: scale(1);
    }
    .home__menu-last{
        width: 320px !important;
    }
}
@media screen and (min-width: 961px){
    .home__menu-last{
        width: 280px;
    }
}