.welcome__tag{
    top: -10px;
}
.books__svg{
    height: 70px;
    width: 70px;
}
.eraser__svg{
    height: 100px;
    width: 100px;
}
.school__draw{
    height: 235px;
    width: 500px;
    margin-bottom: 10px;
}

.home__container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1065px;
}
.home__container-inner{ 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    width: 300px;
    flex-grow: 0.83;
    margin: 15px auto;
    background: var(--div-color);
    padding-bottom: 10px;
    border: 3px solid black;
    box-shadow: -5px 6px 4px rgba(0, 0, 0, 0.35);
}
.home__container-inner:hover{
    transform: scale(1.03);
}
.home__inner-text{
    font-size: 15px;
    font-family: 'Roboto', 'sans-serif';
    line-height: 25px;
    margin-top: -5px;
    padding: 16px 20px 10px 20px;
    text-align: center;
    overflow-wrap: anywhere;  
}

.home__division-container{
    display: flex;
    margin: auto;
    max-width: 1065px;
}
.home__division{
    display: flex;
    flex-grow: 0.83;
    height: 50px;
    width: 300px;
    margin: 15px auto;
    background: var(--div-color);
    border: 3px solid black;
    box-shadow: -5px 6px 4px rgba(0, 0, 0, 0.35);
}
.home__division-title{
    margin: 8px auto 0 auto;
    font-size: 27px;
    font-family: 'Roboto', 'sans-serif';
}

.welcome__container{
    max-width: 100%;
}
.welcome{
    z-index: -100;
    border: none;
    border-bottom: 4px solid black;
    border-radius: 0;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.35);
    width: 100%;
}

@media screen and  (max-width: 280px) /* For Galaxy Fold */{
    .tag{
        display: none;
    }
    .home__inner-text{
        font-size: 13px;
    }
    .home__division-title{
        font-size: 24px;
    }
}
@media screen and (min-width: 281px) and (max-width: 374px) /* For Iphone 5*/{
    .tag{
        height: 115px;
        width: 115px;
    }
    .home__division-title{
        font-size: 28px;
    }
}

@media screen and (max-width: 540px){
    .tag{
        height: 120px;
        width: 120px;
    }
    .home__container-inner{
        width: 100%;
        margin: 15px 0;
        border: none !important;
        border-top: 3px solid black !important;
        border-bottom: 3px solid black !important;
        border-radius: 0;
    }
}
@media screen and (min-width: 600px){
    .home__division-title{
        font-size: 30px;
    }
}
@media screen and (min-width: 700px){
    .tag{
        height: 150px;
        width: 150px;
    }
}
@media screen and (max-width: 700px){
    .home__container-inner:hover{
        transform: scale(1);
    }
}
@media screen and (min-width: 1035px){
    .home__menu-container{
        justify-content: space-between;
    }
    .library__button{
        width: 300px;
    }
}