.modal__window-main{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 10000;
}

.modal__window-content{
    display: flex;
    height: 450px;
    width: 450px;
    margin: auto;
    background: var(--div-color);
    border: 3px solid black;
}

.modal__window-title{
    font-size: 30px;
    margin: auto;
}