.section__main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
    
.section__header{
    display: flex;
    width: 100%;
    margin: -10px auto;
    background: var(--div-color);
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.35);
    border-bottom: 4px solid black;
    z-index: -100;
}