body {
  margin: 0;
  background: #62929a;
}

html, body{
  height: auto!important;
  max-width: 100%;
  min-width: 280px;
  overflow-x: hidden;
}
  
:root{
  --div-color: #E6E6E6;
  --black: #363434;
  --button-blue: #527EB5;
  --button-blue-hover: #6693ca;
  --button-green: #7AAB7F;
  --button-green-hover: #98CA9D;
  --home-button:  #2C2A2A;
  --us-button:  #43a0ce;
  --offer-button:  #d13f3f;
  --community-button:  #D9D047;
  --teachers-button:  #DD956C;
  --form-background: #638D8E;
  --error-background: #AB3232;
}
  
h1, h2, h3{
  margin: 0;
  padding: 0;
}

p, b, h2, h3{
  cursor: default;
  user-select: none;
}
  
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
  
a{
  -webkit-user-drag: none;
  text-decoration: none;
}

.svg{
  height: 60px;
  width: 60px;
  margin: 20px auto 0 auto;
}

.tag{
  position: absolute;
  top: -25px;
  right: 0;
  height: 130px;
  width: 130px;
}

.header__tag{
  top: 10px;
}

.section__main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
    
.section__header{
  position: relative;
  display: flex;
  height: 300px;
  width: 100%;
  margin: -10px auto;
  background: var(--div-color);
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.35);
  border-bottom: 4px solid black;
  z-index: -100;
}

button{
  color: white !important;
}
.home__button{
  background: var(--home-button) !important;
}
.home__button:hover{
  background: #2C2A2A;
}
.us__button{
  background: var(--us-button) !important;
}
.us__button:hover{
  background: #22698d !important;
}
.offer__button{
  background: var(--offer-button) !important;
}
.offer__button:hover{
  background : #8a2525 !important;
}
.community__button{
  background: var(--community-button) !important;
}
.community__button:hover{
  background: #8d8626  !important;
}
.teachers__button{
  background: var(--teachers-button) !important;
}
.teachers__button:hover{
  background: #8b5535 !important;
}
.library__button{
  background: var(--button-greeb) !important;
}
.library__button:hover{
  background: #407245 !important;
}