body {
    margin: 0;
    background: #62929a;
    overflow-x: scroll;
  }
  
:root{
  --div-color: #efecec;
  --black: #363434;
  --button-blue: #527EB5;
  --button-blue-hover: #6693ca;
  --button-green: #88BB8D;
  --button-green-hover: #98CA9D;
  --form-background: #638D8E;
  --error-background: #AB3232;
}
  
h1, h2, h3{
  margin: 0;
  padding: 0;
}

p, h2, h3{
  cursor: default;
  user-select: none;
}
  
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
  
a{
  -webkit-user-drag: none;
  text-decoration: none;
}

.svg{
  height: 60px;
  width: 60px;
  margin: 20px auto 0 auto;
}

.tag{
  position: absolute;
  top: -25px;
  right: 0;
  height: 130px;
  width: 130px;
}

.header__tag{
  top: 10px;
}

.section__main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
    
.section__header{
  position: relative;
  display: flex;
  height: 300px;
  width: 100%;
  margin: -10px auto;
  background: var(--div-color);
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.35);
  border-bottom: 4px solid black;
  z-index: -100;
}