body {
    margin: 0;
    background: #62929a;
  }
  
:root{
  --div-color: #efecec;
  --form-background: #638D8E;
}
  
h1, h2, h3{
  margin: 0;
  padding: 0;
}
  
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
  
a{
  -webkit-user-drag: none;
  text-decoration: none;
}

.tag{
    position: absolute;
    top: -25px;
    right: 0;
    height: 130px;
    width: 130px;
}

.header__tag{
  top: 10px;
}

.section__main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
    
.section__header{
    display: flex;
    height: 300px;
    width: 100%;
    margin: -10px auto;
    background: var(--div-color);
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.35);
    border-bottom: 4px solid black;
    z-index: -100;
}